{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="box box-primary">
                {{ form_start(form) }}
                <div class="box-header with-border">
                    <h3 class="box-title">Создание пользователя</h3>
                </div>
                <div class="box-body">
                    {{ form_widget(form) }}
                </div>
                <div class="box-footer">
					<ul class="pull-right">
						<input type="submit" class="btn btn-primary pull-right" value="Сохранить"/>
					</ul>
                    <a class="btn btn-default" href="{{ path('user_role_index') }}">Отмена</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
