{% extends '::welcome.html.twig' %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Zenomania</b></a>
        </div>
        <div class="login-box-body">
            <h3 class="login-box-msg">{{ message.header }}</h3>
            <p>{{ message.text }}</p>
            {% if message.type == 'recover' %}
                <a class="btn btn-primary btn-block btn-flat btn" href="{{ path('recover') }}">Отправить новый код</a>
            {% elseif message.type == 'login' %}
                <a class="btn btn-primary btn-block btn-flat btn" href="{{ path('login') }}">Войти</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
