# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: zen_database
    database_port: ~
    database_name: '%database.name%'
    database_user: '%database.user%'
    database_password: '%database.pass%'
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    mailer_from: info@zenomania.ru

    # A secret key that's used to generate certain security-related tokens
    secret: '%app.secret%'

    uglifyjs_bin:      /usr/local/bin/uglifyjs
    uglifycss_bin:     /usr/local/bin/uglifycss
    node_bin: /usr/local/bin/node

    # Project name used to store sessions with prefix
    project_name: zenomania
    # Redis server host
    redis_server: zen_redis
    # time to live for authenticated user's key
    auth_key_ttl: 3600 # 1 hour
    profile_upload_photo_dir: uploads/profiles
    player_upload_photo_dir: uploads/players
    badge_upload_photo_dir: uploads/badges
    upload_promo_coupon_dir: uploads/coupons
    product_upload_photo_dir: uploads/products
    upload_dir: '%kernel.root_dir%/../web'

    # Sms settings
    sms_infobip_login: test
    sms_infobip_password: test
    sms_infobip_originator: test
    sms_smstraffic_login: test
    sms_smstraffic_password: test
    sms_smstraffic_originator: test
    sms_sms16_login: test
    sms_sms16_password: test
    sms_sms16_originator: test

    # Social settings
    vk_client_id: 6185768
    vk_access_front_url: zenomania.ru/join/vk
    vk_group_id: -32408054
    vk_access_token: secret_token

    # Registration url
    registration_url: zenomania.ru/join

    # AFR service
    afr_service_host: http://afr.selloutsport.com
    afr_service_username: zenit_superadmin
    afr_service_password: password
    afr_service_zenit_club_id: 9

    # MongoDB settings
    mongodb_host: 127.0.0.1
    mongodb_port: 27017
